<div class="container">
  <h2><%= t ".title" %></h2>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <%= render "form" %>
      </div>
    </div>
  </div>
  <br>
  <div class="back">
    <%= link_to t(".back"), dish_path(@dish), class: "btn btn-primary" %>
  </div>
</div>
